{% extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/bag.css' %}">
{% endblock %}

{% block title %}Your Bag{% endblock %}

{% block page_header %}
<h1 class="text-center bag-page-title">Shopping Bag</h1>
{% endblock %}

{% block content %}
{% if bag_items %}
  <ul>
    {% for item in bag_items %}
      <li>
        {{ item.product.name }} - £{{ item.product.price }} ({{ item.quantity }})
        <form method="POST" action="{% url 'adjust_bag' item.product.printful_id %}">
          {% csrf_token %}
          <input type="number" name="quantity" value="{{ item.quantity }}">
          <button type="submit">Update</button>
        </form>
        <form method="POST" action="{% url 'remove_from_bag' item.product.printful_id %}">
          {% csrf_token %}
          <button type="submit">Remove</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  <p>Total: £{{ grand_total }}</p>
  <a href="{% url 'checkout' %}">Proceed to Checkout</a>
{% else %}
  <p>Your bag is empty.</p>
{% endif %}
{% endblock %}
