{% extends "base.html" %}
{% load static %}
{% load bag_extras %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block title %}Checkout{% endblock %}

{% block page_header %}
<h1 class="text-center bag-page-title">Checkout</h1>
{% endblock %}

{% block content %}
<div class="container flex-grow-1">
    <div class="row">
        <!-- Order summary section -->
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="text-muted">Order Summary ({{ product_count }})</p>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small text-muted">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>
            {% for item in bag_items %}
                <!-- Display each item in the bag -->
                <div class="row">
                    <div class="col-2 mb-1">
                        <a href="{% url 'product_detail' item.product.id %}" aria-label="Go to {{ item.product.name }}">
                            {% if item.product.image_url %}
                                <!-- Display product image -->
                                <img class="w-100" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                            {% else %}
                                <!-- Display a default image if no product image is available -->
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                            {% endif %}
                        </a>
                    </div>
                    <!-- Display product name and quantity -->
                    <div class="col-7">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                    </div>
                    <!-- Calculate and display item subtotal -->
                    <div class="col-3 text-right">
                        <p class="my-0 small text-muted">£{{ item.product.price|floatformat:2 }}</p>
                    </div>
                </div>
            {% endfor %}
            <hr class="my-0">
            <div class="row text-black text-right">
                <div class="col-7 offset-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-0">£{{ total|floatformat:2 }}</p>
                    <p class="my-0">£{{ delivery|floatformat:2 }}</p>
                    <p class="my-0"><strong>£{{ grand_total|floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>

        <!-- Checkout form section -->
        <div class="col-12 col-lg-6">
            <p>Please fill out the form below to complete your order.</p>
            <p class="text-muted">We currently only ship to The United Kingdom.</p>
            <form method="POST" action="{% url 'checkout' %}" id="payment-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-check form-check-inline mb-2">
                    {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                        <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info" checked>
                    {% else %}
                        <div class="form-check-label">
                            <a href="{% url 'account_signup' %}">Create an account</a> or 
                            <a href="{% url 'account_login' %}">login</a> to save this information
                        </div>
                    {% endif %}
                </div>
                <div class="payment">
                    <div id="card-payment"></div>
                    <div id="card-errors" role="alert"></div>
                </div>
                <div class="submit-button">
                    <a href="{% url 'view_bag' %}" class="btn custom-btn rounded-0 me-2">
                        <i class="fas fa-chevron-left"></i> Adjust Bag
                    </a>
                    <button type="submit" id="submit-button" class="btn btn-green rounded-0">Complete Order</button>
                    <p class="small text-danger">
                        <span class="icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
