/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montez&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Remove presets */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Ensure the entire document uses full height */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container-fluid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Reset margins and padding for the header */
header {
    margin: 0;
}

#page_header {
    padding-top: 160px;
    /* Apply padding here instead */
}


@media (max-width: 991px) {
    #page_header {
        padding-top: 82px;
        /* For smaller screens, adjust header padding */
    }
}

@media (max-width: 342px) {
    #page_header {
        padding-top: 105px;
        /* For smaller screens, adjust header padding */
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* From Bulma */
icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*-----FONTS-----*/
.montaga {
    font-family: 'Montaga', serif;
}

/*------HEADER------*/
/*-------logo-------*/
/* Ensure there are no margins or padding for the logo container and image */
.main-logo-link {
    display: block;
    padding: 0;
    margin: 0;
}

.main-logo-link img {
    display: block;
    max-height: 100px;
    /* Adjust this value as needed */
    width: auto;
    margin: 0;
    padding: 0;
    object-fit: contain;
    /* Ensures the image scales correctly */
}

/* Ensure the parent container has no padding or margin */
#logo-container {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start;
}

/* Ensure the flex parent has no padding or margin */
#top-nav {
    padding: 0 !important;
    margin: 0 !important;
}

/*---Bag and account icons---*/
#nav-icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
}

/* Reduce padding and margin for the list items to minimize space */
#nav-icons-container .list-inline-item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 0 !important;
}

/* Add margin-right for the last item to provide spacing from the edge */
#nav-icons-container .list-inline-item:last-child {
    margin-right: 30px !important;
}

/* Ensure proper margin on mobile devices for the mobile top header */
@media (max-width: 991px) {
    .navbar-toggler {
        margin-left: 50px;
    }

    .mob-nav-icons {
        margin-right: 50px;
    }

    .nav-item {
        margin-left: 50px;
    }
}

@media (max-width: 400px) {
    .navbar-toggler {
        margin-left: 20px;
    }

    .mob-nav-icons {
        margin-right: 20px;
    }

    .nav-item {
        margin-left: 20px;
    }
}

@media (max-width: 332px) {
    .mob-nav-icons {
        margin-left: 40px;
        margin-bottom: 20px;
    }
}

/*----main nav----*/
.nav-link {
    color: #000 !important;
    font-size: 1.2rem !important;
}

/*---- Footer ----*/
/* footer */
footer {
    margin-top: auto;
    /* Footer stays at the bottom */
    padding: 10px;
    /* Adjust padding if necessary */
    text-align: center;
    background-color: #fff;
}

footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

/* Fix the extra white space issue */
footer.mt-auto {
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

.footer-header {
    font-size: 20px;
    margin-left: 25px !important;
}

.footer-icon {
    font-size: 30px;
    color: #000;
    background-color: #fff;
    transition: all 0.3s;
}

.footer-icon:hover {
    color: #FFF;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    margin: 0;
    scale: 1.1;
}

footer button {
    margin-left: 15px;
}

/* Media Queries */
@media (min-width: 768px) {
    footer {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer-header {
        margin-left: 15px;
    }
}

/* -----Home Page----- */
#home-content {
    background: url('/media/images/home_2048.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 130px);
}

.content-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    color: white;
}

.title-box {
    background: rgba(0, 0, 0, 0.7);
    /* Almost black background */
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.content-box h1 {
    font-size: 3em;
    margin: 0;
}

.content-box p {
    background: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

.btn-container {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

.btn-container a,
.btn-container button {
    margin: 10px 5px;
}

@media (min-width: 992px) {
    .content-box {
        top: 50%;
        /* Move it further down to be more central */
        transform: translate(-50%, -50%);
        /* Adjust if necessary */
    }
}

@media (max-width: 700px) {
    .content-box h1 {
        font-size: 2.5em;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-container a,
    .btn-container button {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .content-box {
        padding: 0 10px;
        /* Add padding to prevent overflow */
        width: 100%;
        /* Ensure content-box does not overflow */
        box-sizing: border-box;
    }

    .content-box h1 {
        font-size: 2em;
        /* Adjust font size for smaller screens */
    }

    .content-box p {
        padding: 10px;
        /* Reduce padding */
        font-size: 1em;
        /* Adjust font size */
        max-width: 80%;
        /* Ensure it doesn't overflow */
    }

    .btn-container {
        padding: 10px;
        margin-top: 10px;
        /* Reduce margin-top */
        width: 80%;
        /* Ensure container doesn't overflow */
        box-sizing: border-box;
        /* Ensure padding is included in width */
        margin: 0 auto;
        /* Center the button container */
    }

    .btn-container a,
    .btn-container button {
        margin: 5px 0;
        /* Stack buttons vertically */
        width: 80%;
        /* Ensure buttons take full width */
        box-sizing: border-box;
        /* Ensure padding is included in width */
    }
}




/*------------Buttons------------*/
/* custom button */
.custom-btn {
    background-color: #000 !important;
    color: #fff !important;
    font-family: 'montaga', serif !important;
    padding: 10px 20px !important;
    border: none !important;
    /* Removes default border */
    border-radius: 0px !important;
    text-decoration: none !important;
    letter-spacing: 1px !important;
    transition: background-color 0.3s, color 0.3s !important;
    /* Smooth transition for hover effects */
    cursor: pointer !important;
    /* Changes cursor to pointer when hovering over the button */
}

.custom-btn:hover {
    background-color: #fff !important;
    color: #000 !important;
    border: #000 solid 1px !important;
    font-weight: bold !important;
    scale: 1.1 !important;
}

.custom-btn-sm {
    padding: 5px 10px !important;
    /* Smaller padding */
    font-size: 0.8rem !important;
    /* Smaller font size */
}

.btn-green {
    background-color: #28a745 !important;
    color: white !important;
}

.btn-green:hover {
    background-color: #fff !important;
    color: #28a745 !important;
    border: #28a745 solid 1px !important;
    font-weight: bold !important;
    scale: 1.1 !important;
}

/* .shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
} */

.btn-black {
    background: black !important;
    color: white !important;
    border-radius: 0px !important;
}

/* .shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: white;
} */

/* .text-black {
    color: black !important;
} */

.border-black {
    border: 1px solid black !important;
}

/* -----------About page---------- */
#about {
    padding: 20px 15px;
    max-width: 100%;
    margin-top: 10px;
}

#about img {
    max-width: 100%;
    height: auto;
}

#about .custom-btn {
    margin-right: 10px;
    /* Space between buttons */
}

.about-btn-container {
    text-align: center;
}

@media (min-width: 1500px) {

    #about .custom-btn,
    #events .custom-btn {
        margin-top: 40px !important;
    }
}

@media (min-width: 1450px) {

    #about .custom-btn,
    #events .custom-btn {
        margin-top: 20px;
    }
}


@media (max-width: 398px) {
    .custom-btn {
        margin-bottom: 5px;
    }
}

@media (max-width: 1300px) {

    #about img,
    #events img {
        margin-top: 50px;

    }
}

@media (min-width: 1300px) {

    #about img,
    #events img {
        margin-top: 15px;

    }
}

@media (max-width: 991px) {

    #about img,
    #events img {
        margin-top: 0px;
        margin-bottom: 10px;
        max-width: 50%;
    }

    #about,
    #events,
    #pop-event,
    #sip-event {
        margin-top: 0px;
    }

    .event-btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .event-btn-container .custom-btn {
        margin-bottom: 10px;
        width: 60%;
        text-align: center;
    }

    .event-btn-container .custom-btn:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 500px) {

    #about img,
    #events img {
        max-width: 60%;
    }
}

@media (max-width: 400px) {

    #about img,
    #events img {
        max-width: 80%;
    }
}

@media (max-width: 359px) {
    .about-btn {
        margin-top: 20px;
    }
}

@media (max-width: 332px) {

    #about {
        margin-top: 5px;
    }
}

/* ------Events page----------- */
/* section divider */
.section-divider {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.events-page-title {
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 10px;
}

@media (max-width: 332px) {

    .events-page-title {
        padding-top: 30px;
    }
}

/* more events media queries above with about page */