/* index.html */
.btn-container {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

/* COLLECTIONS */
/* Image watermark */
.watermark-container {
    position: relative;
    display: inline-block;
}

.watermark-container img {
    width: 100%;
    height: auto;
}

.watermark-container::before {
    content: "";
    background: var(--watermark-image) repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    /* Adjust opacity as needed */
    pointer-events: none;
    /* Ensures the watermark does not interfere with clicking on the image */
}