/* Sort select box */
@media (max-width: 767px) {
    .sort-select-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #sort-selector {
        width: 90%;
    }
}

/* extra margin to show title on smaler screens */
@media (max-width: 342px) {

    .product-page-title {
        margin-top: 30px !important;
    }
}

/* Quantity input adjustments */

/* Default quantity input width for screens larger than 991px */
@media (min-width: 992px) {
    #quantity-input {
        width: 40%;
        /* Restore to default behavior */
    }

    .input-group {
        justify-content: start;
        /* Align with form elements */
    }
}

/* Quantity input adjustments for smaller screens */
@media (max-width: 350px) {
    #quantity-input {
        width: 80%;
        margin: 0 auto;
        /* Center the input for better alignment */
    }

    .input-group {
        display: flex;
        justify-content: center;
    }

    .input-group-prepend,
    .input-group-append {
        display: flex;
        align-items: center;
    }

    .decrement-qty,
    .increment-qty {
        padding: 5px 10px;
        /* Adjust button padding for smaller screens */
    }
}