/* Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    /* Keeps it fixed on the screen */
    bottom: 60px;
    /* Adjusted to stay above the footer */
    right: 20px;
    /* Provides a little more space from the right edge */
    z-index: 1000;
    /* Ensures it's always on top */
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    /* Adds slight rounding for a modern look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Adds a soft shadow for depth */
}

.btt-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.btt-link:hover {
    background-color: black;
    color: white
}

/* Sort select box */
@media (max-width: 767px) {
    .sort-select-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #sort-selector {
        width: 90%;
    }
}

/* extra margin to show title on smaler screens */
@media (max-width: 342px) {

    .product-page-title {
        margin-top: 30px !important;
    }
}