<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contact Me</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Message container for displaying messages dynamically -->
                <div id="messageContainer"></div>

                <form id="contactForm" method="post" data-url="{% url 'contact' %}">
                    {% csrf_token %}
                    <!-- Name Field -->
                    <div class="mb-3 d-flex align-items-center">
                        <div class="me-3">
                            {{ contact_form.name.label_tag }}
                        </div>
                        <div class="flex-grow-1">
                            {{ contact_form.name }}
                        </div>
                    </div>
                    <!-- Email Field -->
                    <div class="mb-3 d-flex align-items-center">
                        <div class="me-3">
                            {{ contact_form.email.label_tag }}
                        </div>
                        <div class="flex-grow-1">
                            {{ contact_form.email }}
                        </div>
                    </div>
                    <!-- Message Field -->
                    <div class="mb-3 d-flex align-items-center">
                        {{ contact_form.message.label_tag }}
                        {{ contact_form.message }}
                    </div>

                    <!-- Terms and Conditions -->
                    <div class="mb-3 text-center">
                        <small class="text-muted">
                            By clicking "Send," you agree to our 
                            <a href="{% url 'terms_and_conditions' %}" class="footer-link">Terms & Conditions</a> and 
                            <a href="{% url 'privacy_policy' %}" class="footer-link">Privacy&nbsp;Policy</a>.
                        </small>
                    </div>

                    <!-- Submit Button -->
                    <div class="modal-footer">
                        <button type="reset" class="custom-btn">Reset</button>
                        <button type="submit" class="custom-btn">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
