<footer class="bg-white text-black">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <p class="montaga footer-header">Kicassoo</p>
                <button class="custom-btn custom-btn-sm" data-bs-toggle="modal" data-bs-target="#contactModal">Contact
                    Me</button>
                <div class="social-icons mt-2 ms-1">
                    <a href="https://www.snapchat.com/add/dollyz88" class="footer-icon me-5" target="_blank"
                        aria-label="Go to Kicassoo's SnapChat"><i class="fa-brands fa-snapchat"></i></a>
                    <a href="https://www.instagram.com/kicassoo/" class="footer-icon" target="_blank"
                        aria-label="Go to Kicassoo's Instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-end developer-info">
                <p>Website designed & developed</p>
                <p>by Joe Seabrook</p>
                <a href="https://www.linkedin.com/in/joeseabrook/" target="_blank" class="footer-icon"
                    aria-label="Go to Developers linkedin profile"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</footer>