<div class="collapse navbar-collapse bg-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Navigation Item: Home -->
        <li class="nav-item">
            <a class="montaga font-weight-bold nav-link mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>
        <!-- Navigation Item: About -->
        <li class="nav-item">
            <a class="montaga font-weight-bold nav-link mr-6" href="{% url 'about' %}">
                About
            </a>
        </li>
        <!-- Navigation Item: Collections -->
        <li class="nav-item dropdown">
            <a class="montaga font-weight-bold nav-link dropdown-toggle mr-6" role="button" href="#"
                id="collections-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <!-- Dropdown Menu for collections -->
            <div class="dropdown-menu border-0" aria-labelledby="collections-link">
                <!-- Specific categories as dropdown items -->
                <a href="#" class="dropdown-item">The Kingdom</a>
                <a href="#" class="dropdown-item">Ropes of Wisdom</a>
                <a href="#" class="dropdown-item">Perfect Moments</a>
            </div>
        </li>
        <!-- Navigation Item: Events -->
        <li class="nav-item dropdown">
            <a class="montaga font-weight-bold nav-link mr-6" href="{% url 'events' %}">
                Events
            </a>
        </li>
        <!-- Navigation Item: shop -->
        <li class="nav-item dropdown">
            <a class="montaga font-weight-bold nav-link mr-6" href="{% url 'product_list' %}">
                Print Store
            </a>
        </li>

    </ul>
</div>