<div class="collapse navbar-collapse bg-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Navigation Item: Home -->
        <li class="nav-item">
            <a class="montaga font-weight-bold nav-link mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>
        <!-- Navigation Item: About -->
        <li class="nav-item">
            <a class="montaga font-weight-bold nav-link mr-6" href="{% url 'about' %}">
                About
            </a>
        </li>
        <!-- Navigation Item: Collections -->
        <li class="nav-item dropdown">
            <a class="montaga font-weight-bold nav-link dropdown-toggle mr-6" role="button" href="#"
                id="collections-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collections
            </a>
            <!-- Dropdown Menu for collections -->
            <div class="dropdown-menu border-0" aria-labelledby="collections-link">
                <!-- Specific categories as dropdown items -->
                <a href="{% url 'all_collections'%}" class="dropdown-item">All Collections</a>
                <a href="{% url 'thekingdom'%}" class="dropdown-item">The Kingdom</a>
                <a href="{% url 'ropesofwisdom'%}" class="dropdown-item">Ropes of Wisdom</a>
                <a href="{% url 'perfectmoments'%}" class="dropdown-item">Perfect Moments</a>
            </div>
        </li>
        <!-- Navigation Item: Events -->
        <li class="nav-item dropdown">
            <a class="montaga font-weight-bold nav-link mr-6" href="{% url 'events' %}">
                Events
            </a>
        </li>
        <!-- Navigation Item: Print Store -->
        <li class="nav-item dropdown">
            <a class="montaga font-weight-bold nav-link dropdown-toggle mr-6" role="button" href="#"
                id="print-store-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Print Store
            </a>
            <!-- Dropdown Menu for Print store -->
            <div class="dropdown-menu border-0" aria-labelledby="print-store-link">
                <!-- Specific categories as dropdown items -->
                <a href="{% url 'product_list' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'product_list' %}?category=Stationary" class="dropdown-item">Stationary</a>
                <a href="{% url 'product_list' %}?category=Wall+Art" class="dropdown-item">Wall Art</a>
                <a href="{% url 'product_list' %}?category=Puzzles" class="dropdown-item">Puzzles</a>
            </div>
        </li>

    </ul>
</div>