/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montez&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Remove presets */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body */
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/* Fonts */
.montaga {
    font-family: 'Montaga', serif;
}

.montez {
    font-family: 'Montez', cursive;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

/* navbar */
.nav-item {
    font-weight: 700;
    font-family: 'montaga', serif;
}

/* Home page */
#home-content {
    position: relative;
    height: 100vh;
    width: 100%;
}

.home-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    color: white;
}

.title-box {
    background: rgba(0, 0, 0, 0.7);
    /* Almost black background */
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.content-box h1 {
    font-size: 3em;
    margin: 0;
}

.content-box p {
    background: rgba(255, 255, 255, 0.7);
    color: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

.btn-container {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

.btn-container a,
.btn-container button {
    margin: 10px 5px;
}

/* custom button */
.custom-btn {
    background-color: #000;
    color: #fff;
    font-family: 'montaga', serif;
    padding: 10px 20px;
    border: none;
    /* Removes default border */
    border-radius: 0px;
    text-decoration: none !important;
    letter-spacing: 1px;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for hover effects */
    cursor: pointer;
    /* Changes cursor to pointer when hovering over the button */
}

.custom-btn:hover {
    background-color: #fff;
    color: #000 !important;
    border: #000 solid 1px;
    font-weight: bold;
    scale: 1.1;
}

.custom-btn-sm {
    padding: 5px 10px;
    /* Smaller padding */
    font-size: 0.8rem;
    /* Smaller font size */
}


/* About page */
#about {
    padding: 20px 15px;
    max-width: 100%;
    margin-top: 10px;
}

#about img {
    max-width: 100%;
    height: auto;
}

#about .custom-btn {
    margin-right: 10px;
    /* Space between buttons */
}

.about-btn-container {
    text-align: center;
}

/* all collections page */
/* Collections sections */
.collection-text {
    position: relative;
    /* Ensures positioning context */
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    /* Centers content horizontally */
    width: 100%;
    /* Takes full width of its parent */
    margin-top: 20px;
    /* Space above the button */
}

.img-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Image watermark */
.watermark-container {
    position: relative;
    display: inline-block;
}

.watermark-container img {
    width: 100%;
    height: auto;
}

.watermark-container::before {
    content: "";
    background: url('/assets/images/copyrightgrey.png') repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    /* Adjust opacity as needed */
    pointer-events: none;
    /* Ensures the watermark does not interfere with clicking on the image */
}

/*Images in collections grow noted out as dont like look need discuss with client */
/*.grow {
    transition: all 0.3s;
}

.grow:hover {
    transform: scale(1.05);
}*/

/* footer */
.footer-header {
    font-size: 20px;
    margin-left: 25px !important;
}

.footer-icon {
    font-size: 30px;
    color: #000;
    background-color: #fff;
    transition: all 0.3s;
}

.footer-icon:hover {
    color: #FFF;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    margin: 0;
    scale: 1.1;
}

footer button {
    margin-left: 15px;
}

/* Media Queries */
@media (min-width: 768px) {
    footer {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer-header {
        margin-left: 15px;
    }
}

@media (min-width: 580px) and (max-width: 767px) {
    .collection-img {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .footer-header {
        margin-left: 15px !important;
    }

    .collection-text {
        margin-top: 20px !important;
    }
}

@media (min-width: 1500px) {
    #about .custom-btn {
        margin-top: 40px !important;
    }
}

@media (min-width: 1450px) {
    #about .custom-btn {
        margin-top: 20px;
    }
}


@media (max-width: 398px) {
    .custom-btn {
        margin-bottom: 5px;
    }
}

@media (max-width: 1300px) {
    #about img {
        margin-top: 50px;

    }
}

@media (min-width: 1300px) {
    #about img {
        margin-top: 15px;

    }
}

@media (max-width: 991px) {
    #about img {
        margin-top: 0px;
        margin-bottom: 10px;
        max-width: 50%;
    }

    #about {
        margin-top: 0px;
    }
}

@media (max-width: 500px) {
    #about img {
        max-width: 60%;
    }
}

@media (max-width: 400px) {
    #about img {
        max-width: 80%;
    }
}

@media (max-width: 359px) {
    .about-btn {
        margin-top: 20px;
    }
}

@media (max-width: 700px) {
    .content-box h1 {
        font-size: 2.5em;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-container a,
    .btn-container button {
        margin: 10px 0;
    }
}

@media (max-width: 400px) {
    .content-box {
        top: 10%;
        /* Adjusts the top position for smaller screens */
        transform: translate(-50%, -10%);
        /* Adjusts the transform for smaller screens */
        padding: 10px;
        /* Adds padding to ensure content doesn't touch the edges */
    }

    .title-box {
        padding: 5px;
        /* Reduces padding for smaller screens */
    }

    .content-box h1 {
        font-size: 2em;
        /* Reduces font size for smaller screens */
    }

    .content-box p {
        padding: 10px;
        /* Reduces padding for smaller screens */
        font-size: 0.9em;
        /* Adjusts font size for better readability */
    }

    .btn-container {
        padding: 5px;
        /* Reduces padding for smaller screens */
        margin-top: 10px;
        /* Reduces margin top for smaller screens */
    }

    .btn-container a,
    .btn-container button {
        padding: 8px;
        /* Reduces padding for buttons on smaller screens */
        font-size: 0.9em;
        /* Adjusts font size for buttons on smaller screens */
    }
}