<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h2>Thank you for your order, {{ order.full_name }}!</h2>
    <p>Your order number is <strong>{{ order.order_number }}</strong></p>

    <h3>Order Summary:</h3>
    <ul>
        {% for item in order_items %}
            <li>
                {{ item.product.name }} - {{ item.quantity }} x £{{ item.price|floatformat:2 }}<br>
                <small>Size: {{ item.product.size }}</small>
            </li>
        {% endfor %}
    </ul>
    <p><strong>Order Total:</strong> £{{ order.grand_total|floatformat:2 }}</p>

    <h3>Delivery Information:</h3>
    <p>
        {{ order.street_address1 }}<br>
        {{ order.street_address2 }}<br>
        {{ order.town_or_city }}, {{ order.county }}<br>
        {{ order.postcode }}<br>
        {{ order.country.name }}
    </p>

    {% if order.estimated_delivery_date %}
        <p><strong>Estimated Delivery Date:</strong> {{ order.estimated_delivery_date }}</p>
    {% else %}
        <p><strong>Estimated Delivery Date:</strong> Not available</p>
    {% endif %}
    
    <p>If you have any questions, please contact our support team using the contact us button on the website or you can email at .....@....com</p>
    <p>Thank you for shopping with us!</p>
</body>
</html>
