{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block title %}Products{% endblock %}

{% block page_header %}
<h1 class="text-center product-page-title">Products</h1>
{% endblock %}

{% block content %}
<!-- Sorting and Product Count -->
<div class="row mt-1 mb-2">
    <!-- Sorting Select Box -->
    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
        <div class="sort-select-wrapper w-50">
            <select id="sort-selector" aria-label="Sorting Selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                <!-- Sorting Options -->
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
            </select>
        </div>
    </div>
    <!-- Product Count Display -->
    <div class="col-12 col-md-6 order-md-first">
        <p class="text-muted mt-3 text-center text-md-left">
            <!-- Display logic for product count and search terms -->
            {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'product_list' %}">Products Home</a> | </span>
            {% endif %}
            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
        </p>
    </div>
</div>
<!-- Products Grid -->
<div class="row">
    {% for product in products %}
        <!-- Individual Product Card -->
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card h-100 border-0">
                <a href="{% url 'product_detail' product.printful_id %}">
                    <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}" width="300" height="300">
                </a>
                <!-- Product details, pricing, and links -->
                <div class="card-body pb-0">
                    <!-- Product Name -->
                    <p class="mb-0">{{ product.name }}</p>
                    <!-- Product Category -->
                    <p class="text-muted">{{ product.category.name }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <!-- Product Pricing -->
                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Horizontal Rule after every 4 products for extra large screens -->
        {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block mb-5">
                <hr>
            </div>
        {% endif %}
        <!-- Horizontal Rule after every 3 products for large screens, hidden on extra large screens -->
        {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                <hr>
            </div>
        {% endif %}
        <!-- Horizontal Rule after every 2 products for small to medium screens, hidden on larger screens -->                        
        {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                <hr>
            </div>
        {% endif %}
        <!-- Horizontal Rule after every product for extra small screens -->
        {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none mb-5">
                <hr>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/sorting-script.js' %}"></script>
{% endblock %}
